.navbar {
  background-color: #003153;
}

a.navbar-brand {
  font-weight: 710;
  font-size: x-large;
  color: rgb(232, 232, 232);
}

a.nav-link {
  color: rgb(232, 232, 232);
}

a.nav-link.active {
  color: #f97924;
  background-color: #003961;
}

/* * {
  color: rgb(232, 232, 232);
} */
