a.nav-link {
  margin-left: 9px;
  margin-right: 9px;
}

a.navbar-brand {
  font-weight: 500;
  font-size: xx-large;
}

.navbar {
  background-color: #003153;
}

a.nav-link.active {
  color: #f97924;
  background-color: #003961;
}

* {
  color: rgb(232, 232, 232);
}