a.nav-link {
  color: rgb(232, 232, 232);
  margin-left: 27px;
  margin-right: 27px;
}

a.navbar-brand {
  font-weight: 500;
  font-size: xx-large;
  color: rgb(232, 232, 232);
}

.navbar {
  background-color: #003153;
}